<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
div {	width: 200px; height: 100px; }

#div1 {	border: 1px solid red; }
#div2 {	border: 1px solid green; }
#div3 {	border: 1px solid blue; }

#div1 {	float: left; }

#div2 {	float: right; }


.clearfix {
	clear: both;
	
	/* 컨텐츠 영역 없애기 */
	width: 0;
	height: 0;
	
	/* 내용물이 컨텐츠영역을 넘었을 때 안 보이게 가리기 */
	overflow: hidden;
}

</style>
</head>
<body>

<h1>float속성 적용해보기</h1>
<hr>

<div id="div1">DIV1</div>

<div id="div2">DIV2</div>


<!-- 내용물 텍스트는 overflow:hidden; 때문에 화면에 안 보임 -->
<div class="clearfix">안녕하세요! clear 입니다!</div>


<div id="div3">DIV3</div>

</body>
</html>













