<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">
#content {
	width: 1300px;
	margin: 0 auto;
}

#content div {
	border: 3px solid #ccc; 
	
	width: 300px;
	height: 150px;
	
	float: left;
	
	margin: 0 9px;
	margin-top: 10px;
}

#visible {	overflow: visible; }

#hidden {	overflow: hidden; }

#scroll {	overflow: scroll; }

#auto {	overflow: auto; }

</style>

</head>
<body>

<div id="content">

	<div id="visible">
	<p>
		못 차 그러나 까닭입니다. 계집애들의 덮어 경, 별들을 아직 자랑처럼 있습니다. 하나에 하나에 소녀들의 위에 내 까닭입니다. 없이 흙으로 무성할 시와 경, 까닭이요, 하나에 버리었습니다. 소학교 별 가난한 헤는 흙으로 파란 당신은 계십니다. 이름과, 가을로 딴은 거외다. 아침이 하나 프랑시스 북간도에 별 계십니다. 멀리 아침이 파란 다하지 계십니다. 나의 무덤 북간도에 별 거외다. 딴은 같이 이름과, 별 계십니다. 별 별 옥 별빛이 사람들의 패, 이국 별이 봅니다.
	</p>
	</div>

	<div id="hidden">
	<p>
		이름과, 않은 당신은 흙으로 봅니다. 부끄러운 속의 풀이 하나에 어머님, 나는 때 멀듯이, 봅니다. 벌써 이 멀리 까닭입니다. 아이들의 동경과 까닭이요, 책상을 버리었습니다. 이런 가을로 이름과, 무성할 너무나 남은 흙으로 별 위에 버리었습니다. 별이 북간도에 걱정도 별빛이 내일 나의 언덕 너무나 까닭입니다. 계집애들의 추억과 잠, 가을 무엇인지 이런 까닭입니다. 청춘이 것은 별빛이 이국 속의 시인의 벌써 라이너 까닭입니다. 청춘이 이름자 가득 잔디가 별에도 불러 소녀들의 있습니다. 같이 지나가는 하나에 하나에 이런 봅니다. 별 자랑처럼 오면 토끼, 별빛이 봅니다.
	</p>
	</div>

	<div id="scroll">
	<p>
		지나가는 어머니 벌써 다 나는 별 그리고 있습니다. 내일 나는 동경과 하나에 아름다운 그러나 프랑시스 계십니다. 이웃 가난한 내린 별빛이 봅니다. 이름자 소학교 이제 사랑과 하나의 보고, 나의 하늘에는 듯합니다. 아름다운 잔디가 겨울이 봅니다. 강아지, 가슴속에 하늘에는 멀리 차 별 버리었습니다. 벌써 책상을 어머니, 아스라히 가득 하나에 까닭입니다. 아이들의 이름을 남은 별들을 노새, 책상을 아름다운 위에 이국 까닭입니다. 잠, 걱정도 별에도 거외다. 않은 하나에 벌레는 하늘에는 새워 이네들은 추억과 위에 까닭입니다. 위에도 봄이 그러나 딴은 계집애들의 보고, 걱정도 북간도에 별 까닭입니다.
	</p>
	</div>

	<div id="auto">
	<p>
		소학교 위에 것은 가을로 하나 봅니다. 파란 라이너 어머님, 너무나 나는 이름과 계십니다. 쉬이 패, 부끄러운 둘 아직 하나의 시와 가을로 거외다. 때 청춘이 이름과, 밤이 불러 릴케 어머니, 새워 딴은 계십니다. 마디씩 가슴속에 못 위에도 추억과 애기 다 하늘에는 내린 있습니다. 가슴속에 이네들은 속의 있습니다. 새겨지는 사랑과 봄이 걱정도 가을로 하나에 아무 내린 까닭이요, 봅니다. 어머니, 불러 잠, 그리워 딴은 아무 벌레는 슬퍼하는 책상을 까닭입니다. 사랑과 어머니 언덕 차 새워 않은 불러 묻힌 버리었습니다. 가을로 나는 당신은 나는 패, 까닭입니다.
	</p>
	</div>
</div>

</body>
</html>












