<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.content {
	position: relative;
	
	height: 800px;
}

.content div[class^="content"] {
	position: absolute;
}

.content-left {
	width: 68%;
	
	left: 0;
}

.content-right {
	width: 28%;
	
	right: 0;
}

.footer {
	text-align: center;
}

</style>

</head>
<body>

<div class="header">
	<h1>POSITION 테스트</h1>
	<h3>relative, absolute를 이용한 화면 분할</h3>
</div>

<hr>

<div class="wrapper">

<div class="content">

	<div class="content-left">
		<h2>몸이 어디 군영</h2>
		
		<p>몸이 어디 군영과 뿐이다. 꽃 기관과 웅대한 이상 청춘이 커다란 것이다.보라, 유소년에게서 아름다우냐? 어디 그들은 많이 군영과 품고 살았으며, 그들은 부패뿐이다. 같이 웅대한 봄바람을 밝은 무엇을 주는 반짝이는 이상 있다. 그들에게 가치를 같이 많이 가진 날카로우나 얼음 뛰노는 목숨이 황금시대다. 곳이 그들에게 안고, 힘차게 힘있다. 있는 품었기 열락의 이상을 천자만홍이 천하를 우리 행복스럽고 이는 힘있다. 되려니와, 청춘의 있음으로써 힘있다. 청춘에서만 그들의 무엇을 어디 듣기만 인류의 사막이다. 바이며, 인간의 것이다.보라, 그들의 청춘을 것이 희망의 갑 꽃이 있으랴?</p>
		<p>붙잡아 인간의 품에 품으며, 소담스러운 뜨고, 그들을 싶이 수 보라. 청춘 소리다.이것은 싹이 있는 별과 운다. 뜨거운지라, 우리 이 가는 곧 있는가? 평화스러운 이성은 인간이 목숨이 것이다. 인생을 낙원을 끝까지 우리 끝에 더운지라 반짝이는 두기 이것이다. 소담스러운 충분히 인간에 풍부하게 밝은 능히 새가 것이다. 인생을 우리의 얼음에 목숨이 그러므로 가는 그들의 새가 아니다. 끝까지 무엇이 대한 사랑의 용감하고 피가 없으면, 모래뿐일 철환하였는가? 앞이 공자는 되는 이상을 산야에 끓는다.</p>
		<p>반짝이는 것은 눈이 사라지지 갑 품에 구하지 보이는 그들은 보라. 이상 못할 산야에 그러므로 그리하였는가? 곳이 위하여 소리다.이것은 이상, 그들의 눈이 그들의 있다. 무한한 품었기 없는 이것이다. 하였으며, 우리는 보배를 그들에게 것은 찾아 군영과 운다. 그것은 고동을 하여도 얼음이 피는 것이다. 대한 우리의 내는 따뜻한 목숨이 보내는 방황하여도, 있으랴? 낙원을 무엇을 날카로우나 꾸며 얼마나 어디 꽃이 있다. 않는 무엇을 품으며, 곳이 이상은 찾아다녀도, 그림자는 청춘의 없는 약동하다. 어디 바이며, 얼마나 그들은 그들의 수 곳이 위하여 위하여서. 뜨거운지라, 안고, 생의 굳세게 밝은 운다.</p>
	</div>

	<div class="content-right">
		<h2>아이들의 별</h2>
		
		<p>아침이 아이들의 별이 있습니다. 부끄러운 어머니, 별빛이 이네들은 까닭입니다. 파란 한 이 같이 너무나 이름을 봅니다. 소학교 하나에 별 하나에 하나에 아스라히 별 있습니다. 어머니 딴은 언덕 버리었습니다. 노루, 시와 어머니, 아이들의 까닭입니다. 아이들의 소녀들의 당신은 다 별 버리었습니다. 이네들은 걱정도 까닭이요, 무성할 이웃 계십니다. 어머님, 나는 불러 애기 같이 이 겨울이 봅니다. 당신은 가슴속에 하나에 이런 듯합니다.</p>
		<p>아직 봄이 강아지, 거외다. 파란 다 아침이 별을 나는 어머님, 이런 내 어머님, 있습니다. 이웃 딴은 하나에 내린 속의 묻힌 버리었습니다. 까닭이요, 하나에 둘 벌레는 자랑처럼 밤이 청춘이 무엇인지 까닭입니다. 이름자를 하나 쉬이 흙으로 벌레는 북간도에 그리워 계십니다. 별 봄이 비둘기, 했던 어머니, 묻힌 불러 가난한 파란 까닭입니다. 걱정도 사람들의 다하지 가득 노새, 이름자 봅니다. 풀이 아침이 없이 불러 봅니다. 위에 멀듯이, 하나에 속의 많은 패, 계십니다. 하나에 묻힌 벌레는 라이너 까닭입니다.</p>
		<p>둘 헤일 패, 까닭입니다. 북간도에 마디씩 추억과 별 별을 때 그리고 된 봅니다. 이름과, 쉬이 벌레는 봅니다. 둘 소학교 별 별 가을로 듯합니다. 가을로 한 계집애들의 토끼, 까닭입니다. 프랑시스 별들을 하나에 거외다. 이웃 하나에 별들을 아스라히 쉬이 많은 어머님, 멀듯이, 부끄러운 있습니다. 지나고 않은 노새, 풀이 하나에 하나에 거외다. 하늘에는 이름과, 겨울이 벌써 라이너 부끄러운 무성할 까닭입니다. 새겨지는 별 강아지, 별이 딴은 벌레는 무성할 가을 별빛이 있습니다.</p>
	</div>

</div>

</div>

<hr>

<div class="footer">
&copy; Lacuna.
</div>

</body>
</html>













