<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

#wrap > div {
	display: inline-block;
	
	border: 1px solid #ccc;
	
	width: 150px;
	height: 150px;
	
	background-color: #999;
	
	padding: 10px;
	margin: 5px; 
}

#wrap {
	/* 블록 요소의 내부 정렬 */
	/* 인라인 요소들을 정렬한다 */
	/* 인라인블록도 함께 정렬된다 */
	text-align: center;
	
	
	/* 블록 요소의 외부 정렬 */
	width: 1200px;
	margin: 0 auto;
}

</style>

</head>
<body>

<div id="wrap">

	<div>DIV1 DIV1</div>
	<div>DIV2 DIV2</div>
	<div>DIV3 DIV3</div>
	<div>DIV4 DIV4</div>
	<div>DIV5 DIV5</div>

</div>

</body>
</html>















