<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

img {
	border: 1px solid #ccc;
	
	width: 300px;
	height: 200px;
	
	float: left;
	
/* 	margin: 10px; */

	/* 글자 크기만큼 */
/*  	margin: 1em; */

	/* 글자 반절 크기만큼 */
	margin: 0.5em; 
}

</style>

</head>
<body>

<h1>float속성 활용하기</h1>
<h3>이미지와 텍스트의 배치</h3>
<hr>

<img alt="미니언" src="../resources/image/mi.jpg">

<p>별 흙으로 이국 둘 벌레는 나는 마리아 듯합니다. 덮어 하늘에는 나는 것은 봅니다. 이 못 아스라히 쓸쓸함과 사랑과 있습니다. 별이 말 이웃 릴케 토끼, 있습니다. 내 자랑처럼 프랑시스 봅니다. 아직 너무나 잔디가 다 새워 봅니다. 무성할 노루, 언덕 쓸쓸함과 책상을 많은 까닭입니다. 언덕 보고, 한 하나에 릴케 노루, 봅니다. 같이 헤는 하나에 별에도 계십니다. 토끼, 시와 헤일 별 계십니다. 별 언덕 경, 별 하나에 이름과 청춘이 계십니다.</p>

<p style="clear: left;">프랑시스 하나에 그리워 새워 남은 멀리 하나에 하나에 봅니다. 패, 아름다운 가을 듯합니다. 한 소녀들의 불러 봄이 있습니다. 하나의 가난한 토끼, 패, 가득 사람들의 까닭입니다. 북간도에 청춘이 가득 별 내 당신은 봅니다. 가득 남은 지나가는 이름을 까닭입니다. 가을로 별 별 별 내일 강아지, 봅니다. 지나가는 별 하늘에는 계십니다. 어머니 이런 된 우는 없이 거외다. 사랑과 새워 한 말 가득 별을 봅니다.</p>

<p>그림자는 맺어, 그것을 이 보는 스며들어 수 너의 따뜻한 철환하였는가? 고동을 날카로우나 그들의 약동하다. 위하여, 웅대한 그들의 그들은 기쁘며, 고동을 찾아다녀도, 고행을 피고 칼이다. 이상 행복스럽고 청춘의 봄바람이다. 거선의 생명을 가지에 풀밭에 청춘의 충분히 있으며, 운다. 영원히 튼튼하며, 그것은 밥을 때문이다. 우리 가치를 그들의 찾아 아름다우냐? 그것을 어디 것은 길지 그들은 무엇을 같으며, 하는 관현악이며, 있다. 목숨을 끓는 얼마나 찾아다녀도, 것이다.</p>

</body>
</html>














