<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

span {
	/* 테두리 왼쪽, 오른쪽이 잘려나갈 수 있다 */
	/* (자동) 줄바꿈이 발생했을 때 */
/* 	border: 1px solid red; */
	border-bottom: 1px solid red;
	
	background-color: #f99;
	
	/* 적용 안됨 */
	width: 1000px;
	height: 1000px;
	
	/* 내부 여백 */
	/* 배경을 포함한 내부 영역이 넓어진다 */
	padding: 5px;
	
	/* 상하 외부 여백이 없다 */
	margin: 10px;
	
	/* 줄 간격, 줄 높이 */
	/* 글자가 들어갈 영역의 높이 */
	line-height: 2.5em;
	
}

</style>
</head>
<body>

<div>

	<span id="span1">SPAN1</span>
	<span id="span2">SPAN2</span>
	<span id="span3">SPAN3SPAN3SPAN3 SPAN3SPAN3SPAN3</span>
	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus sapien vitae sollicitudin consectetur. Duis aliquam, est nec fermentum maximus, urna velit blandit augue, a egestas leo sapien id quam. Proin porttitor eu turpis in cursus. Pellentesque sollicitudin dolor quis aliquet dapibus. In ligula dui, ultrices iaculis posuere ac, sodales nec eros. Sed elementum bibendum nibh, at mollis diam fermentum sit amet. Praesent et suscipit quam. Phasellus bibendum rutrum ipsum id elementum. Mauris consequat massa nisi, id scelerisque ligula dapibus eget. Nulla facilisi. Integer commodo laoreet nibh id luctus.</span>

</div>

</body>
</html>












